tiles/59902.wstiles filter=lfs diff=lfs merge=lfs -text
tiles/59903.wstiles filter=lfs diff=lfs merge=lfs -text
tiles/59904.wstiles filter=lfs diff=lfs merge=lfs -text
tiles/CMU1SmallRegion.wstiles filter=lfs diff=lfs merge=lfs -text
