<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{{title}}</title>
    <style>
      body {
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <h1>{{title}}</h1>
    <ul id="slides"></ul>
    <script src="/public/jquery.min.js"></script>
    <script>
      $.getJSON("/", function(data) {
        data.slides.forEach(function(slide) {
          $("#slides").append('<li><a href="/view/' + slide + '">' + slide + '</a></li>');
        });
      });
    </script>
  </body>
</html>
