<html>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>{{tileFile}}</title>
  <link href="/public/leaflet.css" rel="stylesheet" />
</head>

<body style="margin:0;">
  <div id="map"></div>
  <script src="/public/jquery.min.js"></script>
  <script src="/public/leaflet.js"></script>
  <script src="/public/leaflet-hash.js"></script>
  <script>
    $(document).ready(function() {
      $('#map').css({
        height: $(window).height() + 'px'
      });

      $(window).resize(function() {
        $('#map').css({
          height: $(window).height() + 'px'
        });
      });

      var map = new L.map('map', {});

      var hash = new L.Hash(map);

      if (!location.hash) {
        location.hash = '#2/0/0';
      }

      $.getJSON("/{{tileFile}}", function(data) {
        if (data.name) {
          document.title = data.name
        }

        var slideUrl = '/{{tileFile}}/{z}/{x}/{y}'

        var slide = L.tileLayer(slideUrl, {
          minZoom: data.minzoom || 0,
          maxZoom: data.maxzoom || 8,
          noWrap: true,
          attribution: 'Images &copy; 2015 Regents of the University of Minnesota'
        });

        var southWest = map.unproject([
          0, 52000
        ], map.getMaxZoom());

        var northEast = map.unproject([
          32660, 0
        ], map.getMaxZoom());

        map.addLayer(slide);
      });
    });
  </script>
</body>

</html>
